<!DOCTYPE html>
<html>
<head>
    <title>Train Model</title>
</head>
<body>

    <form method="post" >
        <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
        {{ form.hidden_tag() }}
        <label>{{ form.x_columns.label }}</label>
        {{ form.x_columns }}<br>
        <label>{{ form.y_column.label }}</label>
        {{ form.y_column }}<br>

        <label>{{ form.mode.label }}</label>
        {{ form.mode }}<br>
        <label>{{ form.algorithms.label }}</label>
        {{ form.algorithms }}<br>
        <label>{{ form.time_limit.label }}</label>
        {{ form.time_limit }}<br>
        {{ form.submit() }}
    </form>
</body>
</html>
